---
import { GET } from "../pages/api";
import CooperativeCard from "../components/CooperativeCard.astro";
import { type Bus } from "../utils/type";
import Layout from "../layout/Layout.astro";
import SearchForm from "../components/SearchForm.tsx";

const response = await GET(Astro);
const buses = await response.json();
const cooperativesInfo = buses.map((bus: Bus) => bus.cooperative.name);
const uniquecooperativesInfo = cooperativesInfo.filter(
  (item: Bus, index: number) => cooperativesInfo.indexOf(item) === index
);

---

<Layout title="Home">
  <SearchForm client:only="react" />
  <h2 class="text-2xl font-bold text-center pt-20">Our partners include</h2>
  <ul class="relative pt-10 flex justify-start gap-3 flex-wrap">
    {
      uniquecooperativesInfo.map((cooperativeInfoName: String) => (
        <CooperativeCard cooperativeInfoName={cooperativeInfoName} />
      ))
    }
  </ul>
  <div class="mt-8">
    <h3 class="text-lg font-bold mb-3">What is Happy Travel?</h3>
    <p>
      In publishing and graphic design, Lorem ipsum is a placeholder text
      commonly used to demonstrate the visual form of a document or a typeface
      without relying on meaningful content. Lorem ipsum may be used as a
      placeholder before the final copy is available
    </p>
  </div>
  <div class="mt-8">
    <h3 class="text-lg font-bold mb-3">What is Happy Travel?</h3>
    <p>
      In publishing and graphic design, Lorem ipsum is a placeholder text
      commonly used to demonstrate the visual form of a document or a typeface
      without relying on meaningful content. Lorem ipsum may be used as a
      placeholder before the final copy is available
    </p>
  </div>
  <div class="mt-8">
    <h3 class="text-lg font-bold mb-3">What is Happy Travel?</h3>
    <p>
      In publishing and graphic design, Lorem ipsum is a placeholder text
      commonly used to demonstrate the visual form of a document or a typeface
      without relying on meaningful content. Lorem ipsum may be used as a
      placeholder before the final copy is available
    </p>
  </div>
</Layout>
