---
import bus from "../assets/bus.mp4";
import Layout from "../layout/Layout.astro";
---

<Layout title="Home">
  <main class="max-w-screen-xl mx-auto">
    <div class="relative overflow-hidden">
      <div class="absolute h-full w-full">
        <div
          class="flex flex-col h-full items-center justify-center text-white relative z-40"
        >
          <h1 class="text-4xl font-bold">Bus tickets online</h1>
          <div class="mt-10 flex gap-x-4">
            <div
              class="text-center w-24 border rounded-full py-2 cursor-pointer"
            >
              <a href="/signin">Sign in</a>
            </div>
            <div
              class="text-center w-24 border rounded-full py-2 cursor-pointer"
            >
              <a href="/signup">Sign up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-black text-white opacity-80 w-screen h-screen absolute">
      </div>
      <div class="flex justify-center items-center">
        <video width="100%" height="100%" autoplay loop muted>
          <source src={bus} type="video/mp4" />
        </video>
      </div>
    </div>
  </main>
</Layout>
