---
import { color } from "../utils/color";

interface Props {
  cooperativeInfoName: String;
  index: number;
}

const { cooperativeInfoName, index } = Astro.props;
---

<li
  class={`bg-white text-${color(
    index
  )} text-xl font-bold uppercase shadow-sm border rounded-md w-[151px] h-28 text-center flex items-center justify-center`}
>
  {cooperativeInfoName}
</li>
