---
---

<nav>
  <ul class="flex gap-x-8 uppercase">
    <li class="text-gray-600 hover:text-gray-900"><a href="#">Blog</a></li>
    <li class="text-gray-600 hover:text-gray-900"><a href="#">Explore</a></li>
    <li class="text-gray-600 hover:text-gray-900"><a href="#">Profile</a></li>
  </ul>
</nav>
