---
import Account from "./Account";
---

<nav>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Testimony</a></li>
    <li><a href="#">Contact</a></li>
    <Account client:only="react"/>
  </ul>
</nav>
